body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
  color: white;
  position: sticky;
  top: 0;
}

header button {
  height: 25px;
  width: 100px;
  background-color: rgb(39, 111, 219);
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.2s all ease-in-out;
}

header button:hover {
  background-color: rgb(29, 78, 151);
  cursor: pointer;
}

div#filter {
  position: fixed;
  right: -50%;
  height: 100%;
  width: 25%;
  padding: 1em;
  background-color: black;
  transition: 0.5s all ease-in-out;
}

div#filter.show {
  right: 0;
}

div.add-cards input {
  margin-right: 10px;
}

main.wrapper {
  background-color: #191930;
  flex: 1;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  background-color: rgb(248, 248, 248);
  color: black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: #282c34 5px 5px 3px;
}

.card button#delete-card-button {
  height: 25px;
  width: 25px;
  background-color: rgb(219, 39, 39);
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.2s all ease-in-out;
  align-self: flex-end;
}

.card button#delete-card-button:hover {
  background-color: rgb(163, 30, 30);
  cursor: pointer;
}

.card button.view-more-button {
  height: 25px;
  width: 100px;
  background-color: rgb(39, 111, 219);
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.2s all ease-in-out;
}

.card button.view-more-button:hover {
  background-color: rgb(29, 78, 151);
  cursor: pointer;
}

.user-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: #282c34 1px 1px 3px;
}

.App-footer {
  background-color: #282c34;
}

.App-footer ul {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  align-items: center;
}